<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87963237392-pv0vh2esu0q8dhmi0pqrj6v1b9elrfla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87963237392-pv0vh2esu0q8dhmi0pqrj6v1b9elrfla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>87963237392-m0ukce4spn0hsp82ri39l55jtcu4m9ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmm8TfJt3qYNt2ev8g2y9NCFFpYAnttUs</string>
	<key>GCM_SENDER_ID</key>
	<string>87963237392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zenesus.on.top</string>
	<key>PROJECT_ID</key>
	<string>zenesus</string>
	<key>STORAGE_BUCKET</key>
	<string>zenesus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87963237392:ios:d658a670241173e9cade95</string>
</dict>
</plist>